In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('D:\Admission_Predict.csv')

In [6]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [9]:
df.duplicated().sum()

0

In [11]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [15]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [17]:
df.drop(columns=['Serial No.'],inplace=True)

In [18]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [24]:
X = df.iloc[:,0:7]
y = df.iloc[:,7]

In [25]:
X

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]

In [26]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [31]:
X_train

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
93         301           97                  2  3.0   3.0  7.88         1
23         334          119                  5  5.0   4.5  9.70         1
299        305          112                  3  3.0   3.5  8.65         0
13         307          109                  3  4.0   3.0  8.00         1
90         318          106                  2  4.0   4.0  7.92         1
..         ...          ...                ...  ...   ...   ...       ...
255        307          110                  4  4.0   4.5  8.37         0
72         321          111                  5  5.0   5.0  9.45         1
396        325          107                  3  3.0   3.5  9.11         1
235        326          111                  5  4.5   4.0  9.23         1
37         300          105                  1  1.0   2.0  7.80         0

[320 rows x 7 columns]

In [32]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scaler = scaler.fit_transform(X_train)
X_test_scaler = scaler.transform(X_test)

In [33]:
X_train_scaler

array([[0.22      , 0.17857143, 0.25      , ..., 0.42857143, 0.25      ,
        1.        ],
       [0.88      , 0.96428571, 1.        , ..., 0.85714286, 0.91911765,
        1.        ],
       [0.3       , 0.71428571, 0.5       , ..., 0.57142857, 0.53308824,
        0.        ],
       ...,
       [0.7       , 0.53571429, 0.5       , ..., 0.57142857, 0.70220588,
        1.        ],
       [0.72      , 0.67857143, 1.        , ..., 0.71428571, 0.74632353,
        1.        ],
       [0.2       , 0.46428571, 0.        , ..., 0.14285714, 0.22058824,
        0.        ]])

In [35]:
import tensorflow as tf
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [51]:
model = Sequential()
model.add(Dense (7,activation='relu',input_dim =7))
model.add(Dense (7,activation='relu'))
model.add(Dense(1,activation ='linear'))

In [52]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 7)                 56

 dense_6 (Dense)             (None, 7)                 56

 dense_7 (Dense)             (None, 1)                 8

=================================================================
Total params: 120
Trainable params: 120
Non-trainable params: 0
_________________________________________________________________

In [53]:
model.compile(loss = 'mean_squared_error',optimizer ='adam')

In [57]:
history = model.fit(X_train_scaler,y_train,epochs=150,validation_split=0.2)

Epoch 1/150
8/8 [==============================] - 0s 15ms/step - loss: 0.0047 - val_loss: 0.0044
Epoch 2/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0047 - val_loss: 0.0043
Epoch 3/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0046 - val_loss: 0.0044
Epoch 4/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0046 - val_loss: 0.0043
Epoch 5/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0046 - val_loss: 0.0043
Epoch 6/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0046 - val_loss: 0.0043
Epoch 7/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0046 - val_loss: 0.0043
Epoch 8/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0046 - val_loss: 0.0044
Epoch 9/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0046 - val_loss: 0.0042
Epoch 10/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0046 - val_loss: 0.0043
Epoch 11/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0046 - val_loss: 0.0043
Epoch 12/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0045 - val_loss: 0.0042
Epoch 13/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0045 - val_loss: 0.0043
Epoch 14/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0045 - val_loss: 0.0043
Epoch 15/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0045 - val_loss: 0.0043
Epoch 16/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0045 - val_loss: 0.0042
Epoch 17/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0045 - val_loss: 0.0043
Epoch 18/150
8/8 [==============================] - 0s 11ms/step - loss: 0.0045 - val_loss: 0.0043
Epoch 19/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0045 - val_loss: 0.0042
Epoch 20/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0045 - val_loss: 0.0043
Epoch 21/150
8/8 [==============================] - 0s 14ms/step - loss: 0.0045 - val_loss: 0.0042
Epoch 22/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0044 - val_loss: 0.0042
Epoch 23/150
8/8 [==============================] - 0s 11ms/step - loss: 0.0044 - val_loss: 0.0042
Epoch 24/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0044 - val_loss: 0.0043
Epoch 25/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0044 - val_loss: 0.0042
Epoch 26/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0044 - val_loss: 0.0042
Epoch 27/150
8/8 [==============================] - 0s 11ms/step - loss: 0.0044 - val_loss: 0.0042
Epoch 28/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0044 - val_loss: 0.0041
Epoch 29/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0044 - val_loss: 0.0042
Epoch 30/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0044 - val_loss: 0.0043
Epoch 31/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0044 - val_loss: 0.0042
Epoch 32/150
8/8 [==============================] - 0s 12ms/step - loss: 0.0044 - val_loss: 0.0042
Epoch 33/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0044 - val_loss: 0.0041
Epoch 34/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0044 - val_loss: 0.0042
Epoch 35/150
8/8 [==============================] - 0s 12ms/step - loss: 0.0043 - val_loss: 0.0041
Epoch 36/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0044 - val_loss: 0.0041
Epoch 37/150
8/8 [==============================] - 0s 12ms/step - loss: 0.0043 - val_loss: 0.0042
Epoch 38/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0044 - val_loss: 0.0041
Epoch 39/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0043 - val_loss: 0.0041
Epoch 40/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0043 - val_loss: 0.0041
Epoch 41/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0043 - val_loss: 0.0040
Epoch 42/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0043 - val_loss: 0.0041
Epoch 43/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0043 - val_loss: 0.0041
Epoch 44/150
8/8 [==============================] - 0s 12ms/step - loss: 0.0043 - val_loss: 0.0040
Epoch 45/150
8/8 [==============================] - 0s 12ms/step - loss: 0.0043 - val_loss: 0.0041
Epoch 46/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0043 - val_loss: 0.0041
Epoch 47/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0043 - val_loss: 0.0040
Epoch 48/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0043 - val_loss: 0.0041
Epoch 49/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0043 - val_loss: 0.0040
Epoch 50/150
8/8 [==============================] - 0s 12ms/step - loss: 0.0043 - val_loss: 0.0040
Epoch 51/150
8/8 [==============================] - 0s 12ms/step - loss: 0.0043 - val_loss: 0.0041
Epoch 52/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0042 - val_loss: 0.0040
Epoch 53/150
8/8 [==============================] - 0s 11ms/step - loss: 0.0043 - val_loss: 0.0040
Epoch 54/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0042 - val_loss: 0.0041
Epoch 55/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0042 - val_loss: 0.0040
Epoch 56/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0042 - val_loss: 0.0040
Epoch 57/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0042 - val_loss: 0.0040
Epoch 58/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0042 - val_loss: 0.0040
Epoch 59/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0043 - val_loss: 0.0041
Epoch 60/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0042 - val_loss: 0.0039
Epoch 61/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0042 - val_loss: 0.0039
Epoch 62/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0042 - val_loss: 0.0040
Epoch 63/150
8/8 [==============================] - 0s 13ms/step - loss: 0.0042 - val_loss: 0.0039
Epoch 64/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0042 - val_loss: 0.0039
Epoch 65/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0042 - val_loss: 0.0040
Epoch 66/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0042 - val_loss: 0.0039
Epoch 67/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0042 - val_loss: 0.0039
Epoch 68/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0042 - val_loss: 0.0040
Epoch 69/150
8/8 [==============================] - 0s 11ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 70/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 71/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 72/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 73/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 74/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 75/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 76/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0041 - val_loss: 0.0038
Epoch 77/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 78/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 79/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0038
Epoch 80/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 81/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 82/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0038
Epoch 83/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 84/150

8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0038
Epoch 85/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0038
Epoch 86/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 87/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0041 - val_loss: 0.0038
Epoch 88/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 89/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 90/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0038
Epoch 91/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 92/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0038
Epoch 93/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 94/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 95/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0041 - val_loss: 0.0038
Epoch 96/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0041 - val_loss: 0.0038
Epoch 97/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 98/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 99/150
8/8 [==============================] - 0s 12ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 100/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 101/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0037
Epoch 102/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 103/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0037
Epoch 104/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 105/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0039
Epoch 106/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0037
Epoch 107/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 108/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 109/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0037
Epoch 110/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 111/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0039
Epoch 112/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 113/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 114/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0039
Epoch 115/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 116/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 117/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 118/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0037
Epoch 119/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0039
Epoch 120/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0041 - val_loss: 0.0037
Epoch 121/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0040
Epoch 122/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 123/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 124/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0037
Epoch 125/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0039
Epoch 126/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 127/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 128/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 129/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 130/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 131/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 132/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 133/150
8/8 [==============================] - 0s 8ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 134/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0039
Epoch 135/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0039
Epoch 136/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0041 - val_loss: 0.0037
Epoch 137/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0039
Epoch 138/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 139/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0037
Epoch 140/150
8/8 [==============================] - 0s 12ms/step - loss: 0.0040 - val_loss: 0.0039
Epoch 141/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 142/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 143/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 144/150
8/8 [==============================] - 0s 7ms/step - loss: 0.0039 - val_loss: 0.0038
Epoch 145/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 146/150
8/8 [==============================] - 0s 12ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 147/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 148/150
8/8 [==============================] - 0s 9ms/step - loss: 0.0040 - val_loss: 0.0037
Epoch 149/150
8/8 [==============================] - 0s 14ms/step - loss: 0.0040 - val_loss: 0.0040
Epoch 150/150
8/8 [==============================] - 0s 10ms/step - loss: 0.0040 - val_loss: 0.0037

In [58]:
y_pred = model.predict(X_test_scaler)

3/3 [==============================] - 0s 0s/step

In [59]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.813845287003741

In [60]:
import joblib

In [62]:
joblib.dump(r2_score,'model_joblib_r2_score')

['model_joblib_r2_score']

In [63]:
model = joblib.load('model_joblib_r2_score')

In [68]:
#GUI

In [69]:
from tkinter  import  *

In [70]:
import joblib

In [ ]:
def show_entry():

    p1 =float(e1.get())
    p2 =float(e2.get())
    p3 =float(e3.get())
    p4 =float(e4.get())
    p5 =float(e5.get())
    p6 =float(e6.get())
    p7=float(e7.get())

    model = joblib.load('model_joblib_r2_score')
    result = model.predict([[p1,p2,p3,p4,p5,p6,p7]])

    Label(master,text="GRE Score").grid(row=8)
    Label(master, text=result).grid(row=9)

master = Tk()
master.title("Graduate Admission Prediction")
label = Label(master,text ="Graduate Admission Prediction", bg="black",fg="white").grid(row=0,columnspan=2)
Label(master, text="Enter Your Age").grid(row=1)
Label(master, text="Male Or Female [1/0]").grid(row=2)
Label(master, text="Enter Your BMI values").grid(row=3)
Label(master, text="Enter Number of Childrens").grid(row=4)
Label(master, text="Smoker Yes/No [1/0]").grid(row=5)
Label(master, text="Region [1-4]").grid(row=6)


e1=Entry(master)
e2=Entry(master)
e3=Entry(master)
e4=Entry(master)
e5=Entry(master)
e6=Entry(master)
e7=Entry(master)


e1.grid(row=1,column=1)
e2.grid(row=2,column=1)
e3.grid(row=3,column=1)
e4.grid(row=4,column=1)
e5.grid(row=5,column=1)
e6.grid(row=6,column=1)
e7.grid(row=7,column=1)

Button (master, text='predict',command=show_entry).grid()

mainloop()